html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: lato-regular, sans-serif;
  color: $color-white;
  background-color: $body-backgroundColor;
}

html,
body {
  width: 100%;
  height: 100%;
}