$color-white: white;
$color-grey: grey;
$color-black: black;

$body-backgroundColor: #151515;
$searchBar-borderRadius: 2.4rem;

$gameCard-backgroundColor: #202020;
$gameCard-borderRadius: 1.2rem;
$gameCardMedia-paddingBottom: 56.25%;